html, body {
	margin: 0;
	height: 100%;
}

header {
	padding: 2em;
	background: #707070;
	text-align: center;
}

main {
	height: 100%;
}

footer {
	padding: 2em;
	background: lightblue;
	text-align: center;
}